
<div class="container">
    <h1>Registration</h1>
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Street Address</th>
          <th>City</th>
          <th>Zip Code</th>
          <th>County</th>
          <th>District</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Del/Alt</th>
          <th>Register</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><input type="string" id='firstNameFilter' [(ngModel)]='firstNameFilter'></th>
          <th></th>
          <th><input type="string" id='lastNameFilter' [(ngModel)]='lastNameFilter'></th>
          <th></th>
          <th></th>
          <th></th>
          <th><input type="string" id='countyFilter' [(ngModel)]='countyFilter'></th>
          <th><input type="string" id='districtFilter' [(ngModel)]='districtFilter'></th>
          <th></th>
          <th></th>
          <th><input type="string" id='delAltFilter' [(ngModel)]='DelAltFilter'></th>
          <th></th>
        </tr>
        <tr *ngFor="let attendee of allAttendees | stringFilter:firstNameFilter:'FirstName' | stringFilter:lastNameFilter:'LastName' | stringFilter:countyFilter:'CountyName' | stringFilter:districtFilter:'CongressionalDistrict' | stringFilter:DelAltFilter:'Del/Alt'">
          <td>{{ attendee.FirstName }}</td>
          <td>{{ attendee.MiddleName }}</td>
          <td>{{ attendee.LastName }}</td>
          <td>{{ attendee.street }}</td>
          <td>{{ attendee.City }}</td>
          <td>{{ attendee.zip }}</td>
          <td>{{ attendee.CountyName }}</td>
          <td>{{ attendee.CongressionalDistrict }}</td>
          <td>{{ attendee.emailAddress }}</td>
          <td>{{ attendee.phoneNumber }}</td>
          <td>{{ attendee.DelAlt }}</td>
          <td><button type="button" class="btn btn-secondary btn-sm" (click)="RegisterAttendee(attendee.id)">Register</button></td>
        </tr>
      </tbody>
    </table>
  </div>
