
<div class="container">
    <h1>Registration</h1>
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Street Address</th>
          <th>City</th>
          <th>Zip Code</th>
          <th>County</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Del/Alt</th>
          <th>Register</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attendee of allAttendees">
          <td>{{ attendee.FirstName }}</td>
          <td>{{ attendee.MiddleName }}</td>
          <td>{{ attendee.LastName }}</td>
          <td>{{ attendee.StreetAddress }}</td>
          <td>{{ attendee.City }}</td>
          <td>{{ attendee.zip }}</td>
          <td>{{ attendee.County }}</td>
          <td>{{ attendee.email }}</td>
          <td>{{ attendee.PhoneNumber }}</td>
          <td>{{ attendee.delAlt }}</td>
          <td><button type="button" class="btn btn-secondary btn-sm" (click)="RegisterAttendee(attendee.id)">Register</button></td>
        </tr>
      </tbody>
    </table>
  </div>